@import './componentes/animations.css';

@tailwind base;
@tailwind components;
@tailwind utilities;




body{
    margin: 0 !important;
}

[x-cloak] { display: none !important; }


.backend-background-image{
    background-image: url('../../public/images/system/background/7230.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}


.bell-ring-animation{
    animation: ringAnimation 1s infinite ease-in-out;
}

@keyframes ringAnimation{
    0%{
        transform: rotate(0) scale(1) skew(1deg);
    }
    10%{
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    20%{
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    30%{
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    40%{
        ransform: rotate(25deg) scale(1) skew(1deg);
    }
    50%{
        transform: rotate(0) scale(1) skew(1deg);
    }
    100%{
        transform: rotate(0) scale(1) skew(1deg);
    }
}